//===========//
//MIXIN FONTS
//===========//
@mixin font-face($name, $certain-name, $path, $weight: null, $style: null, $exts: woff2 woff) {

  $src: local(quote($certain-name));

  $extmods: (
          eot: "?"
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-display: swap;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face("Roboto", "Roboto Bold", "../fonts/roboto-v30-latin_cyrillic-ext-700", 700, normal);
@include font-face("Roboto", "Roboto Regular", "../fonts/roboto-v30-latin_cyrillic-ext-regular", 400, normal);
@include font-face("Roboto", "Roboto Medium", "../fonts/roboto-v30-latin_cyrillic-ext-500", 500, normal);


